# OpenTofu / Terraform
tofu/.terraform/
tofu/.terraform.lock.hcl
tofu/terraform.tfvars
**/*.tfstate
**/*.tfstate.backup
tofu/*.tfplan

# Ansible
ansible/roles/*/files/*.key
ansible/roles/*/files/*.crt

# Kubeconfig
*.kubeconfig

# Local notes
TODO.md
GITOPS.md
DECISIONS.md
REVIEW.md
SESSION_NOTES.md
