# OpenTofu / Terraform
tofu/.terraform/
tofu/.terraform.lock.hcl
tofu/terraform.tfvars
tofu/terraform.tfstate
tofu/terraform.tfstate.backup
tofu/*.tfplan

# Ansible
ansible/roles/*/files/*.key
ansible/roles/*/files/*.crt

# Kubeconfig
*.kubeconfig

# Local notes
TODO.md
