apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ argocd_tls_secret }}"
  namespace: argocd
spec:
  secretName: "{{ argocd_tls_secret }}"
  duration: 2160h    # 90 days
  renewBefore: 360h  # 15 days
  issuerRef:
    name: ca-issuer
    kind: ClusterIssuer
  dnsNames:
    - "{{ argocd_hostname }}"
